/*	Start Debug	*/
body {
	padding-bottom: 1.5em;
}
.cake-sql-log-wrapper {
	background: #C88;
	border: 1px solid #E44;
	bottom: 0;
	height: 1.2em;
	left: 0;
	opacity: 0.8;
	padding: 2px 10px;
	position: fixed;
	right: 0;
	z-index: 1050;

	-moz-transition: height 0.8s;
	-o-transition: height 0.8s;
	-webkit-transition: height 0.8s;
	transition: height 0.8s;
}
.cake-sql-log-wrapper:hover {
	height: 30%;
	max-height: 30%;
}
.cake-sql-log-wrapper .cake-sql-log {
	background: #C33;
	border-collapse: separate;
	border-spacing: 1px;
	margin: 0 0 3px;
	width: 100%;
}
.cake-sql-log-wrapper .cake-sql-log th,
.cake-sql-log-wrapper .cake-sql-log td {
	background: #C88;
}
/*	End Debug	*/

.selectable,
a[href] {
	color: #33C;
	cursor: pointer;
	text-decoration: underline;
}


.hidden {
	display: none;
}

.modal-header .close {
	position: relative;
	z-index: 1;
}


label:after {
	content: ': ';
}


.table tbody tr.error td {
	background-color: #f2dede;
}

#admin_tasks ul {
	margin-left: 0.8em;
}
#admin_tasks li {
	float: none;
}